/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Reset
*  2.0 - Fonts
*  3.0 - Globals
*    3.1 - Navigation
*    3.2 - Buttons
*    3.3 - Icons
*    3.4 - Helpers
*  4.0 - Color Palette
*  5.0 - Header
*    5.1 - Navigation
*    5.2 - Tagline
*  6.0 - Body
*    6.1 - Card
*    6.2 - Work
*    6.2 - Skills
*    6.4 - Call to action
*  7.0 - Footer
*  8.0 - Misc
*/


/* 1.0 Resets
============================= */

* {
    box-sizing: border-box; /* i.e. inverse borders, so element size doesn't increase */
    margin:0;
    padding:0;
}

html, body {
    padding:0;
    margin:0;
}


/* 2.0 Fonts
============================= */

@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('LeagueSpartan-Bold.eot');
    src: url('LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
         url('LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg'),
         url('LeagueSpartan-Bold.ttf') format('truetype'),
         url('LeagueSpartan-Bold.woff') format('woff'),
         url('LeagueSpartan-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


/* 3.0 Globals
============================= */

html {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background: url(img/header.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,h2,h3, h4,h5 {
    margin: 0 0 0.5em 0;
    color: #1d2935;
    font-weight: 700;
}

a {
    color:#302c9b;
    text-decoration: none;
}
a:visited {
    color:#302c9b;
}

/* 3.1 Globals, navigation
---------------------------- */

nav ul a {
    text-decoration: none;
    color: white;
    padding: 15px;
    margin: 0 1em;
    font-size: 1em;
}

nav ul a:hover {
    color:#201E6A;

}

nav ul a:visited {
    color:white;
}

nav ul {
    list-style: none;
    padding: 0;
    width:100%;
}


nav ul a:last-child {
    margin-right: 0;
}

/* 3.3 Globals, buttons
---------------------------- */

.nav-btn-white-filled {

    border: 2px solid #fff;
    background-color: #fff;
    color: #201E6A;
    text-shadow:none;
    transition: background .25s;
}

.nav-btn-white-filled:hover {
    background-color: rgba(255, 255, 255, 0.0);
    color: white;
    text-shadow: 3px 3px 8px rgba(0,0,0, 0.4);
}

.nav-btn-white-outlined {
    border: 2px solid #fff;
    color:white;
    transition: background .25s;
}

.nav-btn-white-outlined:hover {
    border: 2px solid #fff;
    color:#201E6A;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 1.0);
}

.nav-btn-white {
    color: white;
}

/* 3.3 Globals, icons
---------------------------- */

.icon  {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
    font-family: 'LeagueSpartan-Bold';
    width: 70px;
    height: 70px;
}

.icon.cover-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom:50px;
    left:50%;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}

.icon.code  {
    background-image:url('img/icons/CODE.svg');
}
.icon.arrow-down  {
    background-image:url('img/icons/arrow-down.svg');
}
.icon.curious  {
    background-image:url('img/icons/MICROSCOPE.svg');
}
.icon.idea  {
    background-image:url('img/icons/IDEA.svg');
}
.icon.php  {
    background-image:url('img/icons/php.svg');
}
.icon.css  {
    background-image:url('img/icons/css.svg');
}
.icon.js  {
    background-image:url('img/icons/js.svg');
}

/* 3.4 Globals, helpers
---------------------------- */

.vertical-center {
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding:60px;
    position: relative;
}


.wrapper.full-height {
    height:70vh;
}

.spacing {
    margin: 0 auto 90px auto;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    row-gap: 2em;
    column-gap: 2em;
}

/* 4.0 Color Palette
============================= */
/*
Blue: #201E6A
Purple :rgb(97, 60, 154);
*/


/* 5.0 Header
============================= */

.cover {
    height:100vh;
    position:relative;
}

header {
    margin-top: 2em;
    padding-top: 3em;
}

header .wrapper {
    background:none;
}

/* 5.1 Header, navigation
---------------------------- */

header nav ul {
}

header nav ul a {
    transition: border .25s;
    border-bottom: 2px solid rgba(255, 255, 255, 0.0);
    border-top: 2px solid rgba(255, 255, 255, 0.0);
    padding:12px;
}
header nav ul a:hover {
    border-bottom: 2px solid white;
    color:white;

}
header nav ul a:visited {
    color:white;
}

header label {
    display:none;
}

header .main-navigation {
    display:flex;
    justify-content: flex-end;
}


/* 5.2 Header, tagline
---------------------------- */

#tagline nav ul a:first-child {
    margin-left:0;
}

#tagline {
    color:white;
    max-width: 800px;
    padding-right:30px;
    min-width: none;
    text-shadow: 3px 3px 8px rgba(0,0,0, 0.4);
}

#tagline h1 {
    font-size: 5em;
    font-family: 'LeagueSpartan-Bold', sans-serif;
    margin:0;
    color:white;
}

#tagline h2 {
    font-family: 'Alegreya', sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 30px;
    line-height: 1.5em;
    margin-bottom: 1em;
    color:white;
}


/* 6.0 Body
============================= */

.container {
    padding-bottom:0;
    margin: 0 auto;
    background: #fafafa;
    box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.4);
    border-radius: 5px;
    max-width: 1160px;
}

.container p a {
    font-weight: bold;
}

.container p {
    margin-bottom:1em;
}

main {
    width:100%;
}

aside {
    display: none;
}

main h3 {
    font-size: 2.5em;
}

.featured {
    padding:  30px;
    background: #E3A96D;
    /* background:rgb(97, 60, 154); */
    /* border-bottom: 3px solid rgba(32,	23,	106, 1); */
}
.heading-description {
    margin: 0 0 40px 0;
}


/* 6.1 Body, card
---------------------------- */

main .card {
    /* border-radius:10px; */
    overflow: hidden;
    
    flex-grow: 1;
    flex-basis: 300px;
}

main .card h4 {
    font-size: 1em;
    font-weight: 600;
}

main .card p {
    font-size: 0.9em;
}

main a.card-link {
    display:block;
}

/* 6.2 Body, work
---------------------------- */


main a.card-link {

    flex-grow: 1;
    flex-basis: 300px;
}
   
main .work .featured {
    border-radius:5px;
}
main .card.work {
    border-radius:0;
    padding:0;   
    /* letter-spacing: 0.03em; */
    padding:0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.25s;
    height:100%;
}

main .card.work:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
}

main .card.work h4 {
    /* letter-spacing: 0.048em; */
    font-size: 0.8em;
    font-weight: bold;
    /* color:white; */
    /* color:white; */
    font-family: 'LeagueSpartan-Bold', sans-serif;
}

main .card.work .caption {
    padding:20px;
    height:100%;
    background:white;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
}
main .card.work .caption p {
    font-size:1em;
    line-height:1.5em;
    padding-bottom:10px;
    color:#2c3e50;
    /* color:white; */
    
}

main .card.work .caption a {
    /* color: rgba(255,255,255,0.7); */
}
main .card.work .caption a:hover{
}

main .card.work span {
    position:absolute;
    bottom: 20px;
    left:20px;
}

main .card.work .img {
    height:300px;
}


/* 6.3 Body, skills
---------------------------- */

.skills {
    text-align: left;
}

.skills .flex {

    gap: 2em;
}


.skills .card {
    /* background: #201E6A; */
    /* color:white; */
    padding:15px;
    border-radius:5px;
    text-align: center;
    border: 1px solid #CCC;
}

.skills .card .icon {
    margin: 20px auto;
}


main .skills .card p {
    /* color:white; */
    font-family: Arial, Helvetica, sans-serif;
}


.skills .card h4 {
    font-size: 1.2em;
    /* color: white; */
}

.skills  p.more {
    font-size: 0.8em;
    margin-top:30px;
}

/* 6.4 Body, call to action
---------------------------- */

.action {
}

.action .flex {
    gap: 2em;
}

.action nav ul a {
    color:#201E6A;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid #201E6A;
    padding:20px 30px;
    transition: 0.2s;
    margin:0;
}

.action nav ul a:hover {
    color:white;
    box-shadow: none;
    text-shadow: none;
    border: 2px solid #201E6A;
    padding:20px 30px;
    transition: 0.2s;
    background: #201E6A;
}

.action nav ul a.filled {
    background:#201E6A;
    color:white;
}

.action nav ul a.filled:hover {
    transition: background .25s ease-in-out;
    background: white;
    color:#201E6A;
}


/* 7.0 Footer
============================= */

footer {
    color:rgba(255,255,255, 0.5);
    background: #201E6A;
    
}

footer .flex {

    gap: 2em;
}

footer h3 {
    color: white;
}

footer a {
    text-decoration: none;
    color:rgba(255,255,255, 0.5)
}

footer a:hover {
    color:rgba(255,255,255, 1);
}

footer a:visited {
    color:rgba(255,255,255, 0.5)
}

footer section {
    line-height: 1.5em;
    border-top: 2px solid rgba(255,255,255, 0.1);
    padding-top: 10px;
    flex-grow: 1;
    flex-basis: 300px;
}

/* 8.0 Misc
============================= */


.scroll-spacing-helper {
    padding-top:30px;
}



/*  Flexbox */

.flex.wrap {
    flex-wrap:wrap;
    -webkit-flex-wrap: wrap;
}

.flex.ma-center {
    display:flex;
    justify-content: center;
}

.flex.ma-between {
    display:flex;
    justify-content:space-between;
}
.flex.ma-around {
    display:flex;
    justify-content:space-around;
}

.flex.ma-evenly {
    display:flex;
    justify-content:space-evenly;
}

.flex.ma-right {
    display:flex;
    justify-content: flex-end;
}

.flex.ma-left {
    display:flex;
    justify-content: flex-start;
}

.flex.ca-start {
    display:flex;
    align-items: flex-start;
}

.flex.ca-end {
    display:flex;
    align-items: flex-end;
}

@media screen and (max-width:1000px) {
    main .work .featured {
        padding:  30px;
        margin: 0 -35px;
        border-radius: 0;
        background: #E3A96D;
        /* background:rgb(97, 60, 154); */
        /* border-bottom: 3px solid rgba(32,	23,	106, 1); */
    }

    main .card.work .img {
        height:200px;
    }
}


@media screen and (max-width: 769px){

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    main .card.work .img {
        height:300px;
    }


    header label {
        display:block;
    }

    header .main-navigation {
        display:block;
    }

    header nav label {
        float:right;
        width:40px;
        height:40px;
    }

    header nav ul.main-navigation {
        float:right;
        width:auto;
    }
    
    header .menu-check:checked + ul.main-navigation a {
        display:block;
    }

    header ul.main-navigation a {
        display:none;
        
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    }

    footer {
        margin: 0 -35px;
        padding: 35px;
    }



    .container {
        padding:35px;
    }


    #tagline h1 {
        font-size: 3em;
        font-family: 'LeagueSpartan-Bold', sans-serif;
        margin:0;
        color:white;
    }

    #tagline h2 {
        font-family: 'Alegreya', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 30px;
        line-height: 1.25em;
        margin-bottom: 1em;
        color:white;
    }

    .vertical-center {
        top:35vh;
    }
}

@media screen and (max-width:400px) {
    main .work .featured {
        padding:  30px;
        margin: 0 -35px;
        border-radius: 0;
        background: #E3A96D;
        /* background:rgb(97, 60, 154); */
        /* border-bottom: 3px solid rgba(32,	23,	106, 1); */
    }

    .vertical-center {
        top:20%;
    }


    footer {

    }

    .cover {
        height:86vh;
    }
}