/* 
.btn {
    -ms-transform: skewX(20deg); 
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);

    #AD005B
}
*/ 
/* Fonts */
@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('LeagueSpartan-Bold.eot');
    src: url('LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
         url('LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg'),
         url('LeagueSpartan-Bold.ttf') format('truetype'),
         url('LeagueSpartan-Bold.woff') format('woff'),
         url('LeagueSpartan-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

/* html */

* {
    box-sizing: border-box; /* i.e. inverse borders, so element size doesn't increase */
    margin:0;
    padding:0;
}

html, body {
    padding:0;
    margin:0;
    font-family: "Alegreya", sans-serif;
    color: #2c3e50;
    height:100%;
    scroll-behavior: smooth;
}

body {
    background: rgb(243, 243, 243);
}

/* Globals */

h1,h2,h3,h4,h5 {
    margin: 0 0 0.5em 0;
}


/*  Flexbox */

.flex.ma-center {
    display:flex;
    justify-content: space-around;
}

.flex.ma-right {
    display:flex;
    justify-content: flex-end;
}

.flex.ma-left {
    display:flex;
    justify-content: flex-start;
}


.flex.ca-start {
    display:flex;
    align-items: flex-start;
}

.bg {
    background-image: url("img/header.svg");
    min-height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -25px 50px -25px #000 inset;
} .bg.frontpage {
    padding-bottom: 50px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background: #fafafa;
} 

.container {
    margin-top:-50px;
    box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.4);
    padding:15px;
}
.spacing {
    margin: 0 auto 5em auto;
}


/* Header */

header {
    height:auto;
    margin-top: 2em;
    margin: 0 1em;
    padding-top: 3em; 
}

header .wrapper {
    background:none;
}

#logo {
    color: #2c3e50;
    font-size: 1.5em;
    width:100%;
    text-align: center;
} #underline {
    width:70%;
    height:2px;
    margin: 0 auto;
    background: #2c3e50;
}

#tagline {
    margin-top:100px;
    margin-bottom:50px;
    color:white;
    max-width: 700px;
    text-shadow: 3px 3px 8px rgba(0,0,0, 0.4);
}

#tagline h1 {
    font-size: 2.7em;
    font-family: 'LeagueSpartan-Bold', sans-serif;
    margin:0;
}

#tagline h2 {
    font-family: 'Alegreya', sans-serif;
    font-weight: 400;
    line-height: 30px;
    line-height: 2em;
    margin-bottom: 1em;
}

button {
    padding:10px;
}





/* --- Navigation */

nav {
    margin: 0 0 0 0;
    font-family: 'Alegreya', sans-serif;
    font-size:18px;
    text-shadow: 3px 3px 8px rgba(0,0,0, 0.4);
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    width:100%;
    min-width:350px;
}

nav ul a { 
    padding: 10px;
    margin: 0 1em;
    font-size: 0.8em;
}

nav ul li:last-child {
    margin-right: 0;
}


/* Colors for navbar */

.nav-btn-white-filled {
    border: 2px solid #fff;
    background-color: #fff;
    color: #201E6A;
    text-shadow:none;
}

.nav-btn-white-outlined {
    border: 2px solid #fff;
    color:white;
}

.nav-btn-white {
    color: white;

}

#tagline nav ul a:first-child {
    margin-left:0;
}


/* content area */

main, aside {
    padding: 20px;
}

aside {
    display: none;
}


main h3 {
    font-size: 2em;
    font-family: 'LeagueSpartan-Bold';
}

main .card .icon  {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
}

main .card {
    padding:20px;
    margin-right: 20px;
    background:#dadee0;
    flex: 1 1 0;
    border-radius:10px;
    overflow: hidden;
}





main .card h4 {
    margin:1em 0 0.5em 0;
}

main .card .icon.code  {
    background-image:url('img/icons/CODE.svg');
}
main .card .icon.curious  {
    background-image:url('img/icons/MICROSCOPE.svg');
}
main .card .icon.idea  {
    background-image:url('img/icons/IDEA.svg');
}

main .card.portfolio {
    margin-right:;
    flex: 1 1 0;
    border-radius:4px;
    padding:0;   
    min-height: 180px;
}
main .card:last-child {
    margin:0;
}



main .card.portfolio .img {
    height:100%;
    box-shadow: 0px -25px 50px -25px #000 inset;
}

main .card.portfolio .caption {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 100%);
    margin:-80px auto 0 auto;
    width:100%;
    border-radius:5px;
    padding:10px;
    box-sizing: unset;
    height:65px;
    color:white;
    display: none;
}
main .card.portfolio:hover .caption {
    display: block;
}
main .card.portfolio .caption p {
    font-size:0.9em;
}

main .card p {
    font-size: 0.9.em;
}



section.project  {
    margin-bottom: 20px;
    display: block;
    float:left;
}

section.project img {
    width:100px;
    height: 100px;
    float:left;
    border-radius: 5px;
    border: 1px solid #dadee0;
    margin-right: 20px;
}

section.project h4 {
    margin: 0 0 8px 0;
}



.wrapper.footer {
    background: #34495e;
    color:#34495e;
    border-radius:3px;
}

.wrapper.footer a {
    text-decoration: none;
    color: #EBAB50;
}



/* timeline */

#timeline {
    overflow:visible;
    min-width: 300px;
    margin-top: 40px;
}

#timeline .title {
    overflow:visible;
    width:200px;
    font-size: 15px;
    margin-left:130px;
    margin-top: 20px;
} #timeline .point {
    display:block;
    width:10px;
    height:10px;
    background: #2c3e50;
    float:left;
    margin-left: -30px;
    margin-top: 3px;
    border-radius: 15px;
    overflow:visible;
} #timeline .point .line {
    background: #2c3e50;
    width:4px;
    height:350px;
    margin: -48px 0 0 3px;
}


#timeline .title .date {
    display:block;
    float:left;
    margin-left:-150px;
    margin-top:2px;
    text-align: right;
    width:100px;
    font-size: 12px;
}


@media screen and (min-width: 600px) {

    main {
        min-width: 600px;
    }


}